<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg p-0">
  <div class="container-fluid py-2">
    <div routerLink="/home" class="d-flex justify-content-center align-items-center mx-3 hover-logo btn-0 btn--4">
      <img src="/assets/logo.jpg"  class="mx-1 rounded-circle">
      <span class="fw-bolder fs-5 color-green name-company">ALX Gardens</span>
    </div>
    <button (click)="op=!op" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon>{{ op ? 'menu' : 'close' }}</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <button (click)="op=!op" class="btn btn_0 w-100" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Home
          </button>
        </li>
        <li class="nav-item mx-2">
          <button (click)="op=!op"  routerLink="/home"  class="btn btn_0 w-100" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            About us
          </button>
        </li>
        <li routerLink="/gallery" class="nav-item mx-2 dropdown">
          <button (click)="op=!op" class="btn btn_0 w-100" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            Products
          </button>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <button (click)="op=!op" (click)="openFormContact()" class="btn btn_0 w-100" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          Contact
        </button>
      </div>
    </div>
  </div>
</nav>
