.main-content {
  min-height: calc(100vh - 70px);
  background: rgb(0, 0, 0);
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4) 25%,
      rgba(0, 0, 0, 0.4) 75%
    ),
    url("/assets/carrousel-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 550px) {
  .flex-550 {
    flex-direction: column !important;
  }

  .column-reverse {
    flex-direction: column-reverse !important;
  }
}
