<div class="table-responsive mt-5">
  <table class="table table-bordered table-hover align-middle text-center">
    <caption class="visually-hidden">
      Gypsophila packing guide by box weight and bunch size
    </caption>
    <thead class="table-secondary">
      <tr>
        <th scope="col">Weight/box</th>
        <th scope="col">QB</th>
        <th scope="col">HB</th>
        <th scope="col">HB Jumbo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">250 gr</th>
        <td>15</td>
        <td>30</td>
        <td>50</td>
      </tr>
      <tr>
        <th scope="row">500 gr</th>
        <td>8</td>
        <td>18</td>
        <td>26</td>
      </tr>
      <tr>
        <th scope="row">750 gr</th>
        <td>7</td>
        <td>14</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">1000 gr</th>
        <td>6</td>
        <td>12</td>
        <td>18</td>
      </tr>
    </tbody>
  </table>
</div>
