<main class="main-content row justify-content-center align-items-center m-0">
  <section class="col text-center d-flex justify-content-center align-items-center flex-column position-relative">
    <img src="/assets/logo.jpg"  class="mb-4 rounded-circle img-logo shadow-lg mb-3 animate__pulse animate__animated animate__slower animate__infinite">
    <p class="efect-maquina text-light fw-bolder fs-4 letters-efect">Producers and marketers of different varieties of flowers</p>
    <p class="font-monospace text-light fw-bolder fs-4 letters-efect efect-maquina2">Opening at 8:00 AM</p>
    <ul class="p-0 animate__backInUp animate__animated">
      <li>
        <a href="#">
          <i class="fa-brands fa-instagram icon"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-whatsapp icon"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-phone icon"></i></a></li>
      <li>
        <a href="#"><i class="fa-sharp fa-solid fa-location-dot icon"></i></a></li>
    </ul>
    <button class="btn btn-success px-5 font-monospace">CONTACT US</button>
  </section>
</main>


