<form action="https://formsubmit.co/sales@alxgarden.com" method="POST" class="d-flex justify-content-center align-items-center p-4 flex-column">

  <p class="display-6 text-start font-monospace p-0 m-0">CONTACT US</p>
  <mat-divider class="w-100 mb-3 mt-2 bg-dark"></mat-divider>

  <div class="form-floating mb-3 w-100">
    <input type="email" class="form-control" id="Email" name="Email" placeholder="name@example.com" required>
    <label for="Email">Email address</label>
  </div>

  <div class="form-floating mb-4 w-100">
    <textarea class="form-control" placeholder="Leave a comment here" id="Comment" name="Comment" required></textarea>
    <label for="Comment">Comment</label>
  </div>

  <mat-divider class="w-100 mb-4 bg-dark"></mat-divider>

  <div class="w-100 d-flex justify-content-around align-items-center contenedor_2">
    <button (click)="close()" type="button" class="btn_0 btn-04 btn lead">Cancel</button>
    <button type="submit" class="btn_0 btn-3 btn lead">Send</button>
  </div>

</form>
