<main class="main-content row justify-content-center align-items-center m-0">
  <section class="col text-center d-flex justify-content-center align-items-center flex-wrap my-5">
    <div *ngFor="let category of categories" class="card m-3" style="width: 18rem;">
      <img [src]="category.url" class="card-img-top" alt="...">
      <div class="card-body pt-1">
        <h2 class="m-0 text-dark fw-bolder">{{ category.name }}</h2>
        <button [routerLink]="'/gallery/'+category.name.toLowerCase()" class="button btn px-4 py-2 lead btn-success w-75">
          SHOW
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </section>
</main>
